# Dependencies
node_modules/

# Build output
dist/
.angular/

# Environment files
.env
.env.*
!.env.example

### IDEs ###
.idea/
.vscode/
*.iml

### Mac ###
.DS_Store

# Logs
*.log
npm-debug.log*

# Cache
.eslintcache
